daphne>=3.0,<4.0
Django>=4.0,<5.0
django_debug_toolbar
django_compressor>=3.0,<4.0
deepmerge>=1.0,<2.0
psycopg2
celery>=4.0,<5.0
redis>=3.0,<4.0
types-redis
pyyaml>=5.4
types-PyYAML
gitpython>=3.1,<4.0
requests_cache>=0.7.4,<1.0
doi2ietf>=0.1.2
flake8
whitenoise>=5.3.0,<6.0
pydantic>=1.8,<1.9
watchdog
sphinx
crossrefapi>=1.5,<2
sentry-sdk

# These are dependencies of doi2ietf, but we are currently importing them for error handling purposes
types-requests
types-simplejson
