{# Expects key, val, tmpl, idx, inline (?), wide, break_row, htmlclass, key_sr_only #}

<div class="
  {% if inline %}deflist-entry-inline{% else %}deflist-entry{% endif %}
  {% if wide %}deflist-entry-wide{% endif %}
  {% if break_row %}md:col-start-1{% endif %}
  {{ htmlclass }}
">
  <dt class="{% if key_sr_only %}sr-only{% endif %}">
    {{ key|default:"N/A" }}{% if idx %}&nbsp;{{ idx }}{% endif %}:
  </dt>
  <dd class="truncate" title="{% if key_sr_only %}{{ key }}{% endif %} ">
    {% if val.items %}
      {# Recurse into a dictionary #}
      {
      <dl class="inline">
        {% for key, val in val.items %}
          {% if val %}
            {% include "deflist/entry_recursivedict.html" with key=key val=val inline=1 %}
          {% endif %}
        {% endfor %}
      </dl>
      }
    {% elif val|stringformat:"r"|first == "[" %}
      {# Recurse into a list #}
      [
      <ul class="inline">
        {% for item in val %}
          <li class="inline">
            {% if item.items or val|stringformat:"r"|first == "[" %}
              {% include "deflist/entry_recursivedict.html" with key="item "|add:forloop.counter key_sr_only=True val=item inline=1 %}
            {% else %}
              <span class="val">{{ val|default:"—" }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      ]
    {% else %}
      {# Show simple value #}
      <span class="val">{{ val|default:"—" }}</span>
    {% endif %}
  </dd>
</div>
