{# Expects key, val, tmpl, idx, wide, break_row, htmlclass, item_htmlclass, key_sr_only, inline, comma_sep #}

<div class="
  {{ htmlclass }}
">
  <dt class="{% if key_sr_only %}sr-only{% endif %} opacity-50">
    {{ key|default:"N/A" }}{% if idx %}&nbsp;({{ idx }}){% endif %}
  </dt>
  <dd class="" title="{% if key_sr_only %}{{ key }}{% endif %} {{ items|length }} item(s)">
    <ul class="
      val
      {% if inline %}
        flex flex-row flex-wrap
        {% if inline == "nowrap" %}sm:flex-nowrap sm:overflow-x-auto {% endif %}
        items-center gap-x-2
      {% endif %}
    ">
      {% for val in items %}
        <li
          title="{{ val|pprint|truncatewords:10 }}"
          class="
            {% if inline and comma_sep %}flex after:inline after:content-[',_'] last:after:content-none{% endif %}
            {% if inline == "nowrap" %}whitespace-nowrap{% endif %}
            {{ item_htmlclass|default:"" }}
          "
        >
          {% if tmpl %}
            {% include tmpl with key="item "|add:forloop.counter key_sr_only=True val=val %}
          {% else %}
            {{ val|default:"—" }}
          {% endif %}
       </li>
      {% endfor %}
    </ul>
  </dd>
</div>
