{# Expects key, val, tmpl, idx, wide, break_row, htmlclass, key_sr_only #}

<div class="
  deflist-entry
  {% if wide %}deflist-entry-wide{% endif %}
  {% if break_row %}md:col-start-1{% endif %}
  {{ htmlclass }}
">
  <dt class="{% if key_sr_only %}sr-only{% endif %}">
    {{ key|default:"N/A" }}{% if idx %}&nbsp;({{ idx }}){% endif %}:
  </dt>
  <dd class="" title="{% if key_sr_only %}{{ key }}{% endif %} {{ items|length }} item(s)">
    <ul class="val {% if inline %}flex flex-row flex-wrap items-center gap-x-2{% endif %}">
      {% for val in items %}
        <li title="Item #{{ forloop.counter }}{% if not tmpl %}: {{ val }}{% endif %}">
          {% if tmpl %}
            {% include tmpl with key="item "|add:forloop.counter key_sr_only=True val=val %}
          {% else %}
            {{ val|default:"—" }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </dd>
</div>
