{# Expects key, val, tmpl, idx, wide, break_row, htmlclass, key_sr_only, tooltip #}

<div class="
  deflist-entry
  {% if expandable %}deflist-entry-expandable{% endif %}
  {% if wide %}deflist-entry-wide{% endif %}
  {% if break_row %}md:col-start-1{% endif %}
  {{ htmlclass }}
">
  <dt class="{% if key_sr_only %}sr-only{% endif %}">
    {{ key }}{% if idx %}&nbsp;({{ idx }}){% endif %}:
  </dt>
  <dd class="" title="{% if tooltip %}{{ tooltip }}{% else %}{% if key_sr_only %}{{ key }} {% endif %}{% if not tmpl %}{{ val }} {% endif %}{% endif %}">
    <span class="val">
      {% if tmpl %}
        {% include tmpl with val=val %}
      {% else %}
        {{ val|default:"—" }}
      {% endif %}
    </span>
  </dd>
</div>
