{# Expects data (a BibliographicItem instance), optional forloop #}

{% load relaton %}

<dl class="
  bibitem-dl

  md:col-span-2
  md:row-[span_14_/_span_14]
  sticky
  top-[max(5rem,12.5vh)] {# Dependent variable! Double grid row height #}
  z-20 {# Overlay the sticky header #}

  bg-gradient-to-tl
  odd:bg-dark-200 odd:from-dark-300/60 odd:to-dark-200
  even:bg-dark-100 even:from-dark-200/60 even:to-dark-100
  dark:odd:bg-dark-700 dark:odd:from-dark-800/60 dark:odd:to-dark-700
  dark:even:bg-dark-800 dark:even:from-dark-900/60 dark:even:to-dark-800

  border-sky-600/25

  md:grid
  md:grid-cols-2
  md:grid-flow-row-dense
  md:auto-rows-[minmax(max(2.5rem,6.25vh),1fr)]
  md:grid-rows-[repeat(auto-fill,minmax(max(2.5rem,6.25vh),1fr))]
" data-source-entry='{# #}' {% if sourced_item %}id="{{ sourced_item.source.id }}"{% endif %}>

  {% include "deflist/entry.html" with key="document identifiers" ids=data.docid|as_list tmpl="relaton/doc_ids.html" show_type=0 htmlclass="sm:!border-transparent md:row-span-2 sm:mr-1 bibitem-docids" key_sr_only=1 %}
  {% if not forloop or forloop.first %}
    {% include "deflist/entry.html" with key="export" val=data.docid|as_list|first tmpl="citation/export.html" htmlclass="bg-sky-600/25 sm:!border-transparent" %}
  {% endif %}
  {% include "deflist/entry.html" with key="source" expandable=1 val=sourced_item tmpl="citation/sourced.html" htmlclass="" %}

  {% for title in data.title|as_list %}
    {% include "deflist/entry.html" with key=title.type|default:""|stringformat:"s (title)" val=title.content break_row=forloop.first wide=1 %}
  {% endfor %}

  {% if data.abstract %}
    {% include "deflist/entry_list.html" with key="abstract(s)" items=data.abstract|default:"—"|as_list tmpl="relaton/formatted_string.html" wide="1" htmlclass="md:row-span-2" multiline=1 %}
  {% endif %}

  {% if data.edition.content %}
    {% include "deflist/entry.html" with key="edition" val=data.edition.content|default:"—" %}
  {% endif %}

  {% if data.language %}
    {% include "deflist/entry.html" with key="language" val=data.language|default:"—"|as_list|join:', ' %}
  {% endif %}

  {% if data.date %}
    {% include "deflist/entry_list.html" with key="dates" expandable=1 tmpl="relaton/date.html" items=data.date|as_list %}
  {% endif %}

  {% include "deflist/entry.html" with key="revdate" val=data.revdate|default:"—" %}
  {% include "deflist/entry.html" with key="fetched" val=data.fetched|default:"—" %}

  {% if data.contributor %}
    {% include "deflist/entry_list.html" with key="creators" expandable=1 tmpl="relaton/contributor.html" items=data.contributor|as_list wide=True inline=True %}
  {% endif %}

  {% if data.place %}
    {% include "deflist/entry_list.html" with key="place(s)" items=data.place|default:"—"|as_list %}
  {% endif %}

  {% if data.relation %}
    {% include "deflist/entry_list.html" with key="relations" expandable=1 items=data.relation|as_list tmpl="relaton/relation.html" %}
  {% endif %}

  {% for link in data.link|as_list %}
    {% include "deflist/entry.html" with key=link.type|default:"link" val=link.content break_row=forloop.first wide=1 tmpl="relaton/link.html" %}
  {% endfor %}

  {% if data.series %}
    {% include "deflist/entry_list.html" with key="series" expandable=1 items=data.series|as_list tmpl="relaton/series.html" %}
  {% endif %}

  {% if data.copyright %}
    {% include "deflist/entry_list.html" with key="copyrights" expandable=1 items=data.copyright|as_list tmpl="relaton/copyright.html" %}
  {% endif %}
  {% if data.keyword %}
    {% include "deflist/entry_list.html" with key="keywords" items=data.keyword|as_list inline=1 %}
  {% endif %}

</dl>
