{% load relaton %}
{% with docid=val %}
  {% if datatracker_user %}
    {% for format in available_serialization_formats %}
      <a
          class="link"
          href="{% url "export_citation" %}?doctype={{ docid.type }}&docid={{ docid.id|urlencode:"" }}&format={{ format }}"
        >{{ format }}</a>,
    {% endfor %}
    <a
        class="link opacity-50"
        href="{% url "export_citation" %}?doctype={{ docid.type }}&docid={{ docid.id|urlencode:"" }}&format=relaton"
      >relaton</a>
  {% else %}
    Please
    <a
      class="link"
      href="{% url "datatracker_oauth_initiate" %}"
      title="Logging in will allow exporting bibliographic data in {% for format in available_serialization_formats %}{{ format }}, {% endfor %}relaton."
    >log in via Datatracker</a>
  {% endif %}
{% endwith %}
