{# Expects context: bibliographic item as data, forloop, optional ref, dataset_id #}

{% load relaton common %}

<article class="{% include "_list_item_classes.html" %} bibitem-in-list">
  <div class="{% include "_list_item_inner_classes.html" %}">
    <p class="px-4 mb-1 bibitem-title font-serif tracking-tight leading-tight">
      {% with link=data|bibitem_link %}
        {% if ref or link %}
          <a
            class="link no-underline"
            href="
              {% if ref %}
                {# We are browsing an indexed dataset (non-primary use case) #}
                {% url "browse_indexed_ref" dataset_id ref %}
              {% else %}
                {# We are browsing search results (primary use case) #}
                {{ link }}&{% include "citation/srp_link_href_get_query.html" with query=request.GET.query query_format=query_format page=page_obj %}
              {% endif %}
            "
          >
            {% include "relaton/smart_title.html" with bibitem=data %}
          </a>
        {% else %}
          {# TODO: #196, this occurs when bibitem_link fails due to missing docids #}
          {% include "relaton/smart_title.html" with bibitem=data %}
        {% endif %}
      {% endwith %}
    </p>

    <div class="
      mb-1
      bibitem-docids
      {% if data.docid|as_list|length > 1 %}
        md:grid md:grid-cols-6
      {% endif %}
      leading-tight text-sm
    ">
      {% include "relaton/doc_ids.html" with ids=data.docid|as_list query=query tabindex="0" %}
    </div>

    <div class="px-4 text-xs leading-tight">
      {% if data.headline %}
        … {{ data.headline|safe }} …
      {% else %}
        <div class="hidden sm:block">
          &nbsp;
          {% comment %}
            This serves a purpose: remove this, and you’ll see
            how on very large screens AND without headlines,
            inner item will not be large enough, causing unexpected spacing
            and in case of short lists weird shadow offset on the last item.
          {% endcomment %}
        </div>
      {% endif %}
    </div>
  </div>
</article>
