{# Expects context: bibliographic item as data, forloop, optional ref, dataset_id #}

{% load relaton %}

<article class="{% include "_list_item_classes.html" %} bibitem-in-list">
  <div class="{% include "_list_item_inner_classes.html" %}">
    <p class="px-4 mb-1 bibitem-title font-serif tracking-tight leading-tight">
      <a
        class="link no-underline"
        href="
          {% if ref %}
            {# We are browsing an indexed dataset (non-primary use case) #}
            {% url "browse_indexed_ref" dataset_id ref %}
          {% else %}
            {# We are browsing search results (primary use case) #}
            {% include "citation/srp_link_href.html" with bibitem=data query=request.GET.query query_format=query_format page=page_obj %}
          {% endif %}
        "
      >
        {% include "relaton/smart_title.html" with bibitem=data %}
      </a>
    </p>

    <div class="
      mb-1
      bibitem-docids
      {% if data.docid|as_list|length > 1 %}
        md:grid md:grid-cols-6
      {% endif %}
      leading-tight text-sm
    ">
      {% include "relaton/doc_ids.html" with ids=data.docid|as_list query=query tabindex="0" %}
    </div>

    {% if data.headline %}
      <div class="px-4 text-xs leading-tight">… {{ data.headline|safe }} …</div>
    {% endif %}
  </div>
</article>
