{% if val.source.home_url %}
  <a class="" title="Link to source file" href="{{ val.source.home_url }}/tree/main/data/{{ val.ref }}.yaml">
    {{ val.ref }}</a>
{% else %}
  {{ val.ref }}
{% endif %}
&nbsp;
<span class="whitespace-nowrap">
  in source
  {% if val.source.home_url %}
    <a
      class="whitespace-nowrap" title="Link to source’s page"
      href="{{ val.source.home_url }}"
    >
      {{ val.source.id }}</a>
  {% else %}
    {{ val.source.id }}
  {% endif %}
  {% if val.source.issues_url %}
    <a class="" title="Link to source’s issue tracker" href="{{ val.source.issues_url }}">
      (issues)</a>
  {% endif %}
</span>
