<span
  class="
    px-4 py-2
    {{ htmlclass }}
  "
  data-api-endpoint="{{ endpoint }}"
  data-api-method="{{ method }}"
  data-api-action-label="{{ label }}"
  data-api-spec-op-id="{{ openapi_op_id }}"
  data-api-readable-spec-path="{% url "openapi_readable_spec" "openapi_spec_main" %}#operation/{{ openapi_op_id }}"
>
  {{ label }}:
  <code>{{ method }} {{ endpoint }}</code>
  {% if openapi_op_id and openapi_spec_root %}
    <a href="{% url "openapi_spec_main" %}" class="link">(spec)</a>
  {% endif %}
</span>
