<div class="flex flex-row mb-2">
  <span class="text-xs font-mono px-4 py-2 gray bg-gray-500/20 truncate">
    {{ task.task_id }}
  </span>
  {% if task.status != "PENDING" %}
    <span class="text-xs px-4 py-2
        {% if task.status == "SUCCESS" %}bg-emerald-700 text-white
        {% elif task.status == "PROGRESS" %}bg-amber-700 text-white
        {% elif task.status == "FAILURE" %}bg-rose-700 text-white
        {% else %}bg-gray-500/20
        {% endif %}">
      {{ task.status }}
    </span>
  {% endif %}
</div>

<div class="mb-2">
  {% if task.error %}
    <p class="text-sm">{{ task.error.type }}</p>
    <p class="text-xs">{{ task.error.message }}</p>
  {% endif %}
  {% if task.progress %}
    <progress
      class="custom-progress w-full"
      value="{{ task.progress.current }}"
      max="{{ task.progress.total }}"
      title="{{ task.progress.current }} of {{ task.progress.total }}">
    </progress>
  {% endif %}
  {% if task.action %}
    <p class="mb-2 text-xs">{{ task.action }}</p>
  {% endif %}
  {% if task.progress %}
    {% url "api_stop_task" task.task_id as stop_task_url %}
    {% include "api_button.html" with endpoint=stop_task_url method="POST" label="Revoke task" small=True openapi_op_id="stopTask" openapi_spec_root="/api/v1/" %}
  {% endif %}
  {% if task.outcome_summary %}
    <p class="text-sm mt-2">{{ task.outcome_summary }}</p>
  {% endif %}
</div>

{% if task.status != "PENDING" %}
  <p class="px-2 text-sm">
    Requested for <strong class="ttu">{{ task.dataset_id }}</strong>:
    {% if task.requested_refs %}
      <ul class="px-2 py-3">
        {% for ref in task.requested_refs %}
          <li class="dib mr2">{{ ref }}</li>
        {% endfor %}
      </ul>
    {% else %}
      entire dataset
    {% endif %}
  </p>

  <p class="px-2 text-sm">
    Completed at:
    {% if task.completed_at %}
      {{ task.completed_at }}
    {% else %}
      —
    {% endif %}
  </p>
{% endif %}
