<div class="flex mb3">
  <span class="f7 pa2 ph3 br3 br--left gray bg-light-gray code nowrap truncate">
    {{ task.task_id }}
  </span>
  <span class="f7 pa2 ph3 br3 br--right
      {% if task.status == "SUCCESS" %}bg-dark-green white
      {% elif task.status == "PROGRESS" %}bg-dark-blue white
      {% elif task.status == "FAILURE" %}bg-red white
      {% else %}bg-light-gray gray
      {% endif %}">
    {{ task.status }}
  </span>
</div>

<div class="ph4 lh-copy">
  {% if task.error %}
    <p class="db f5 mb1">{{ task.error.type }}</p>
    <p class="f7 db measure">{{ task.error.message }}</p>
  {% endif %}
  {% if task.progress %}
    <p class="db f5 mb1">{{ task.progress.current }} of {{ task.progress.total }}</p>
  {% endif %}
  {% if task.action %}
    <p class="f7 db measure gray">{{ task.action }}</p>
  {% endif %}
  {% if task.progress or task.action %}
    {% url "api_stop_task" task.task_id as stop_task_url %}
    {% include "api_button.html" with endpoint=stop_task_url method="POST" label="Revoke task" small=True %}
  {% endif %}
  {% if task.outcome_summary %}
    <p class="db f5 mb1">{{ task.outcome_summary }}</p>
  {% endif %}
</div>

<p class="ph3 f7 db lh-copy measure">
  Requested for <strong class="ttu">{{ task.dataset_id }}</strong>:
  {% if task.requested_refs %}
    <ul class="list ph3 ph5-ns pv4">
      {% for ref in task.requested_refs %}
        <li class="dib mr2">{{ ref }}</li>
      {% endfor %}
    </ul>
  {% else %}
    entire dataset
  {% endif %}
</p>

<p class="ph3 f7 db lh-copy measure">
  Completed at:
  {% if task.completed_at %}
    {{ task.completed_at }}
  {% else %}
    —
  {% endif %}
</p>
