{% load relaton %}

{# TODO: (#196) below accounts for bibitems without docid but with formattedref, which should be addressed after #196 #}
{% with own_title=bibitem.title|as_list|first relations=bibitem.relation|as_list %}
  {% if own_title.content or bibitem.formattedref.content %}
    {% with fallback_docid=bibitem.docid.0.id|default:"" fallback_formattedref=bibitem.formattedref.content %}
      {{ own_title.content|default:fallback_formattedref|default:fallback_docid|default:"(no title)" }}
    {% endwith %}
  {% endif %}
  {% if relations|length > 0 %}
    <small>
    {% for relation in relations %}
      {% ifchanged relation.type %}{{ relation.type|default:"relates to" }}{% endifchanged %}
      {% with title=relation.bibitem.title|as_list|first docid=relation.bibitem.docid|as_list|first formattedref=relation.bibitem.formattedref.content %}
        {% if docid or formattedref %}{{ docid.id|default:formattedref }}{% endif %}{% if not forloop.last %}, {% endif %}
        {% if relations|length < 2 %}
          {{ title.content|default:formattedref|default:"unknown title" }}
        {% endif %}
      {% endwith %}
    {% endfor %}
    </small>
  {% endif %}
{% endwith %}
