apiVersion: v1
kind: Secret
metadata:
  name: secrets-env
type: Opaque
stringData:
  AUTO_REINDEX_INTERVAL: "5400"
  CELERY_BROKER_URL: "redis://localhost:6379"
  CELERY_RESULT_BACKEND: "redis://localhost:6379"
  CONTACT_EMAIL: "tools-help@ietf.org"
  DATASET_TMP_ROOT: "/data/datasets"
  DEBUG: "0"
  INTERNAL_HOSTNAMES: "localhost,bib.bib.svc.cluster.local,127.0.0.1"

  # DATATRACKER_CLIENT_ID: null

  # MATOMO_SITE_ID: null
  # MATOMO_TAG_MANAGER_CONTAINER: null
  # MATOMO_URL: "analytics.ietf.org"

  PORT: "8000"
  PRIMARY_HOSTNAME: "bib.ietf.org"
  PYTHONUNBUFFERED: "1"
  REDIS_HOST: "localhost"
  REDIS_PORT: "6379"
  SERVER_EMAIL: "support@ietf.org"
  SERVICE_NAME: "IETF BibXML Service"
  SOURCE_REPO_URL: "https://github.com/ietf-tools/bibxml-service"

  # Secrets from Vault:
  # DB_HOST: ""
  # DB_NAME: ""
  # DB_PORT: ""
  # DB_PWD: ""
  # DB_USER: ""
  # DJANGO_SECRET: ""
  # EXTRA_API_SECRETS: ""
  # SENTRY_DSN: ""
