@tailwind base;
@tailwind components;
@tailwind utilities;

html.management > body > header h1:after {
  display: inline-block;
  content: "management";
  position: absolute;
  padding: 1px 4px;
  font-size: 8px;
  background: #E7040F;
  color: white;
  top: -50%;
  right: 0;
}

/* May not be needed, given Tailwind’s reset */
input, button, select, textarea {
  padding: 0;
  border: none;
  background: none;
}

@layer components {
  .thegrid-mini {
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-auto-rows: unset;
  }

  .thegrid-default-rows {
    grid-auto-rows: minmax(max(5rem, 12.5vh), 1fr);
    grid-template-rows: repeat(auto-fill, minmax(max(5rem, 12.5vh), 1fr));
  }

  @media screen(xl) {
    .thegrid-default-rows {
      grid-auto-rows: minmax(max(5rem, 6.25vh), 1fr);
      grid-template-rows: repeat(auto-fill, minmax(max(5rem, 6.25vh), 1fr));
    }
  }

  .custom-progress {
    @apply appearance-none border-none;
    @apply bg-none;
    @apply text-dark-500;
  }
  .custom-progress::-webkit-progress-value {
    @apply bg-dark-500;
  }
  .custom-progress::-webkit-progress-bar {
    @apply bg-transparent;
  }
  .custom-progress::-moz-progress-bar {
    @apply bg-dark-500;
  }

  mark {
    @apply bg-amber-200 dark:bg-amber-800 dark:text-amber-100;
  }

  .link {
    @apply text-sky-700 underline underline-offset-1 dark:text-sky-400;
  }
  .link:hover {
    @apply text-sky-800 no-underline dark:text-sky-200;
  }

  /* TODO: Use nesting for this */
  /* NOTE: Do not specify any general “item-in-list” styling here,
     this only applies to bibitems */
  article.bibitem-in-list .bibitem-title {
    @apply md:truncate;
  }
  article.bibitem-in-list:hover .bibitem-title,
  article.bibitem-in-list:focus-within .bibitem-title {
    @apply whitespace-normal;
  }
  article.bibitem-in-list .bibitem-docids {
    @apply md:overflow-hidden px-4 md:px-0;
  }
  article.bibitem-in-list:hover .bibitem-docids {
    @apply md:overflow-auto;
  }
  .bibitem-docids .bibitem-docid {
    @apply md:pl-4 whitespace-nowrap;
  }
  article.bibitem-in-list .bibitem-docids a.bibitem-docid-id {
    @apply link;
  }
  article.bibitem-in-list .bibitem-docids > :last-child,
  article.bibitem-in-list:hover .bibitem-docids > :last-child,
  article.bibitem-in-list:focus-within .bibitem-docids > :last-child {
    @apply overflow-visible whitespace-nowrap;
  }
  article.bibitem-in-list .bibitem-docids > :not(:last-child),
  article.bibitem-in-list:hover .bibitem-docids > :not(:last-child),
  article.bibitem-in-list:focus-within .bibitem-docids > :not(:last-child) {
    @apply whitespace-nowrap after:content-['_•_'] after:mx-2 md:after:ml-4 md:after:mr-0 after:font-normal;
  }
  article.bibitem-in-list:not(:hover):not(:focus-within) .bibitem-docids > :not(:last-child) {
    @apply md:after:hidden md:truncate;
  }
  article.bibitem-in-list:hover .bibitem-docids,
  article.bibitem-in-list:focus-within .bibitem-docids {
    @apply md:flex md:flex-row md:flex-wrap;
  }

  .button {
    @apply inline-block p-2 px-4 bg-sky-700 text-sky-100;
    &[disabled] {
      @apply opacity-50;
    }
  }

  /**
   * A button with an optional icon.
   * Intended to be shown on bg-dark-200/dark:bg-dark-800 parent.
   */
  .button-v2 {
    @apply flex flex-row items-center overflow-hidden;
    > .label {
      @apply bg-dark-300 dark:bg-dark-900 whitespace-nowrap flex-1 py-1 px-2;
    }
    > .icon {
      /** Can contain Heroicon SVG. Use text-sm with Solid style. */
      @apply bg-dark-300 dark:bg-dark-900 py-1 px-1 shrink-0 ml-px;
    }
  }
  .input-on-blue {
    @apply text-inherit bg-dark-800/20 placeholder:tracking-tight placeholder:text-inherit;
  }

  a:hover {
    @apply underline;
  }

  .muted-text {
    @apply dark:text-dark-200/50 text-dark-700/50;
  }

  /* Annotorious overrides */
  .a9s-annotation.selected .a9s-inner,
  .a9s-selection .a9s-inner {
    @apply !stroke-fuchsia-300/50 dark:!stroke-fuchsia-500/50 stroke-2;
  }

  .running-text {
    /* Basic markup. */

    p + p {
      @apply indent-4;
    }

    ul {
      @apply list-disc list-outside pl-4;
    }

    ol {
      @apply list-decimal list-outside pl-4;
    }

    dl {
      @apply my-2;
      > dt {
        @apply font-bold mt-2;
      }
      > dd {
        @apply ml-4;
      }
    }

    figure {
      @apply my-2;

      > .image-container {
        @apply object-contain;

        > img {
          @apply block md:max-w-[80%] md:max-h-[60vh];
        }
      }

      &.annotated {
        > .image-container {
          > div {
            /* Annotation container created by Annotorious. */
            @apply align-bottom md:max-w-[80%] md:max-h-[60vh];
            > img {
              @apply md:max-w-[100%] md:max-h-[60vh];
            }
          }
        }
      }

      > figcaption {
        @apply pt-2 border-t-2 border-dark-500 relative pl-4;
        &:before {
          @apply absolute left-0 content-['↑'];
        }
      }
    }

    .admonition {
      @apply py-2 px-4 mb-1 mt-3 relative;

      &:before {
        content: attr(aria-label) ": ";
        @apply absolute -top-2 left-0 pl-4 pr-4 text-xs font-thin ;
      }

      &.note {
        @apply bg-sky-100 dark:bg-sky-800 text-sky-800 dark:text-sky-100;
        &:before {
          @apply bg-sky-100 dark:bg-sky-800 content-['Note:'];
        }
      }
      &.see-also {
        @apply bg-emerald-100 dark:bg-emerald-800 text-emerald-800 dark:text-emerald-100;
        &:before {
          @apply bg-emerald-100 dark:bg-emerald-800 content-['See_also:'];
        }
      }

      > header {
        @apply font-bold;
      }
    }
  }

  .sectioned-running-text {
    section {
      @apply running-text;

      header {
        @apply mb-2 text-dark-900 dark:text-dark-100;
        &:only-child {
          @apply mb-0;
        }
      }

      header + p {
        @apply mt-2;
      }
    }

    /* Nested sections */
    > section {
      @apply mt-4;
      > header {
        @apply text-xl;
        & + p {
          @apply mt-3;
        }
      }
      > section {
        @apply mt-2;
        > header {
          @apply font-bold text-base;
          & + p {
            @apply mt-2;
          }
        }
        > section {
          @apply mt-1;
          > header {
            @apply font-semibold;
            & + p {
              @apply mt-1;
            }
          }
        }
      }
    }
  }
}
