html.management > body > header h1:after {
  display: inline-block;
  content: "management";
  position: absolute;
  padding: 1px 4px;
  font-size: 8px;
  background: #E7040F;
  color: white;
  top: -50%;
  right: 0;
}
