{% extends "base.html" %}
{% load compress static %}

{% block title %}
  {{ block.super }}
  —
  Management
{% endblock %}

{% block extra_scripts %}
  {% compress js %}
    <script type="text/javascript" src="{% static "js/vendor/axios.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/async.js" %}"></script>

    <script type="text/javascript" src="{% static "js/format-xml.js" %}"></script>
    <script type="text/javascript" src="{% static "js/simple-cache.js" %}"></script>
    <script type="text/javascript" src="{% static "js/xml2rfc-resolver.js" %}"></script>

    <script type="text/javascript" src="{% static "js/api-button.js" %}"></script>
    <script type="text/javascript" src="{% static "js/xml2rfc-windowed-path-listing.js" %}"></script>
    <script type="text/javascript" src="{% static "js/xml2rfc-browser.js" %}"></script>
  {% endcompress %}
{% endblock %}

{% block root_html_attrs %}data-api-secret="{{ api_secret }}"{% endblock %}

{% block root_html_class %}management{% endblock %}

{% block home_link %}{% url "manage" %}{% endblock %}

{% block header_extras %}
  <a
    class="
      block
      {% include "_side_block_classes.html" %}
      p-4 bg-dark-700 text-dark-100
    "
    href="{% url "manage_indexable_sources" %}"
  >
    Indexable&nbsp;sources
  </a>

  <a class="
    {% include "_side_block_classes.html" %}
    block p-4 bg-dark-700 text-dark-100
  " href="{% url "manage_xml2rfc" %}">
    xml2rfc&nbsp;compatibility
  </a>
{% endblock %}

{% block after_content %}
  <a class="
    {% include "_side_block_classes.html" %}
    block p-4
    whitespace-nowrap
    dark:text-dark-200/50 text-dark-700/50 
  " href="{% url "browse" %}">
    Public-facing service &rarr;
  </a>

  <a class="
    {% include "_side_block_classes.html" %}
    block p-4
    dark:text-dark-200/50 text-dark-700/50 
  " href="{% url "api_index" %}">
    API reference &rarr;
  </a>

  {% if monitoring.flower %}
    <a class="
      {% include "_side_block_classes.html" %}
      block p-4
      dark:text-dark-200/50 text-dark-700/50 
    " href="{{ monitoring.flower }}">
      Worker dashboard at {{ task_monitor_host }} &rarr;
    </a>
  {% endif %}
{% endblock %}

{% block nav %}
{% endblock %}
