{% extends "base.html" %}
{% load compress static %}

{% block title %}
  {{ block.super }}
  —
  Management
{% endblock %}

{% block extra_scripts %}
  {% compress js %}
    <script type="text/javascript" src="{% static "js/api-button.js" %}"></script>
  {% endcompress %}
{% endblock %}

{% block content_grid_classes %}
  md:!block
  p-2
  h-screen
  overflow-y-auto
  space-y-2
{% endblock %}

{% block root_html_attrs %}data-api-secret="{{ api_secret }}"{% endblock %}

{% block root_html_class %}management{% endblock %}

{% block home_link %}{% url "manage" %}{% endblock %}

{% block header_extras %}
  <div class="
    {% include "_side_block_classes.html" %}
    bg-slate-600 text-slate-100 p-4 text-sm leading-tight
  ">
    <ul class="flex flex-row flex-wrap">
      {% for ds_id in indexable_sources %}
        <li class="mr-2">
          <a class="{% if dataset_id == ds_id %}font-bold{% endif %}" href="{% url "manage_dataset" ds_id %}">
            {{ ds_id }}
          </a>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block nav %}
{% endblock %}
