{% extends "management/base.html" %}

{% block content %}
  <h2 class="text-lg tracking-tight mb-2">Running task(s)</h2>
  {% if running_tasks %}
    <ul class="">
      {% for task in running_tasks %}
        <li class="">
          <article class="p-4 bg-dark-500/20">
            {% include "indexing_task.html" with task=task %}
          </article>
      {% endfor %}
    </ul>
  {% else %}
    None.
  {% endif %}

  <div class="py-8">
    <h2 class="text-lg tracking-tight">See also</h2>
    <ul class="">
      <li>
        <a href="{% url "browse" %}" target="_blank" class="link">
          Public-facing service &rarr;
        </a>
      <li>
        <a href="{% url "api_index" %}" target="_blank" class="link">
          API reference &rarr;
        </a>
      <li>
        <a href="//{{ task_monitor_host }}" target="_blank" class="link">
          Worker dashboard at {{ task_monitor_host }} &rarr;
        </a>
    </ul>
  </div>
{% endblock %}
