{% extends "management/base.html" %}

{% block title %}
  {{ block.super }}
  —
  xml2rfc path overview
{% endblock %}

{% block content %}
  {% include "_messages.html" with htmlclass="md:col-span-2" %}

  {% for dir in available_paths %}
    <article class="{% include "_list_item_classes.html" %} leading-tight">
      <div class="{% include "_list_item_inner_classes.html" %} px-4 overflow-hidden">
        <a class="link font-bold" href="{% url "manage_xml2rfc_directory" dir.name %}"
          >{{ dir.name }}</a>
        {% if dir.aliases %}
          &emsp;
          <span>
            <span class="text-xs">aliased as</span>
            {% for alias in dir.aliases %}
              {{ alias }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </span>
        {% endif %}
        <br />
        <span class="text-xs">
          <span>{{ dir.total_count }} indexed</span>,
          <span>{{ dir.manually_mapped_count }} manually mapped</span>
        </span>
        <br />
        <span class="text-xs">
          {% if dir.fetcher_name %}
            Auto resolver: <code class="font-monospace">{{ dir.fetcher_name }}()</code>
          {% else %}
            Not automatically resolved.
          {% endif %}
        </span>
      </div>
    </article>
  {% empty %}
    <div class="p-4 grid place-content-center">
      <p>
        No xml2rfc paths available.
        Most likely,
        the <a class="link" href="{% url "manage_indexable_source" "xml2rfc" %}"><code>xml2rfc</code> source</a>
        has not been indexed yet.
      </p>
    </div>
  {% endfor %}
{% endblock %}
