{% extends "management/base.html" %}

{% block title %}
  {{ block.super }}
  —
  xml2rfc path overview 
{% endblock %}

{% block content_grid_classes %}
  md:grid-cols-2
{% endblock %}

{% block content %}
  {% include "_messages.html" with htmlclass="md:col-span-2" %}

  <div class="
    p-4
    md:col-start-1
    bg-sky-600 text-sky-100
    leading-tight
    md:row-span-2
    flex flex-col space-y-2 md:overflow-hidden
  ">
    <div>
      <a
        class="text-center py-1 button block hover:no-underline whitespace-nowrap"
        href="{% url "manage_xml2rfc_export_manual_map" %}"
        download="bibxml-service-xml2rfc-path-map.json"
      >
        Export mappings
      </a>
    </div>
    <form
      method="POST"
      enctype="multipart/form-data"
      action="{% url "manage_xml2rfc_import_manual_map" %}"
    >
      {% csrf_token %}
      <div class="
        flex flex-col
        space-y-2
      ">
        <input id="importFile" type="file" name="map_json" class="m-0" accept=".json" />
        <button type="submit" class="grow button py-1">Import mappings</button>
        <label
          for="importClearCheckbox"
          class="flex flex-row flex-nowrap items-center space-x-2"
          title="Deletes any previously existing mappings. If import succeeds, only imported mappings will exist."
        >
          <input type="checkbox" class="text-sky-600" name="clear" id="importClearCheckbox" />
          <span class="whitespace-nowrap">Delete existing</span>
        </label>
      </div>
    </form>
  </div>
  {% for dir in available_paths %}
    <article class="{% include "_list_item_classes.html" %} leading-tight">
      <div class="{% include "_list_item_inner_classes.html" %} px-4 overflow-hidden">
        <a class="link font-bold" href="{% url "manage_xml2rfc_directory" dir.name %}"
          >{{ dir.name }}</a>
        {% if dir.aliases %}
          &emsp;
          <span>
            <span class="text-xs">aliased as</span>
            {% for alias in dir.aliases %}
              {{ alias }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </span>
        {% endif %}
        <br />
        <span class="text-xs">
          <span>{{ dir.total_count }} indexed</span>,
          <span>{{ dir.manually_mapped_count }} manually mapped</span>
        </span>
        <br />
        <span class="text-xs">
          {% if dir.fetcher_name %}
            Auto resolver: <code class="font-monospace">{{ dir.fetcher_name }}()</code>
          {% else %}
            Not automatically resolved.
          {% endif %}
        </span>
      </div>
    </article>
  {% endfor %}
{% endblock %}
