{% if datatracker_oauth_enabled %}
  {% if datatracker_user %}
    <aside class="
      {% include "_side_block_classes.html" %}
      p-4
      bg-indigo-700 text-indigo-100
      dark:bg-indigo-900 dark:text-indigo-200
    ">
      Logged&nbsp;in
      as&nbsp;<strong class="whitespace-nowrap">{{ datatracker_user.username|default:"N/A" }}</strong>
      <br />
      <a class="text-xs" href="{% url "datatracker_oauth_logout" %}">Log&nbsp;out</a>
    </aside>
  {% else %}
    <a
      class="
        block
        {% include "_side_block_classes.html" %}
        p-4
        bg-indigo-700 text-indigo-100
        dark:bg-indigo-900 dark:text-indigo-200
      "
      href="{% url "datatracker_oauth_initiate" %}"
    >
      Log in via Datatracker
    </a>
  {% endif %}
{% endif %}
