{% if profiling.query_times %}
  <aside class="
    {% include "_side_block_classes.html" %}
    p-4 dark:text-dark-200/50 text-dark-700/50 text-xs
  ">
    {{ profiling.query_times|length }} database quer{{ profiling.query_times|pluralize:'y,ies' }}
    {% if total_indexed %}against {{ total_indexed }} items{% endif %}
    took
    {% for time in profiling.query_times %}
      {% if forloop.last and profiling.query_times|length > 1 %}and&nbsp;{% endif %}{{ time }}{% if profiling.query_times|length > 2 and not forloop.last %}, {% endif %}{% endfor %}&nbsp;sec.
  </aside>
{% endif %}
