{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.4/dist/annotorious.min.css">
{% endblock %}

{% block extra_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7.4/dist/annotorious.min.js"></script>
  <script src="{% static "js/image-annotation.js" %}"></script>
{% endblock %}

{% block header_extras %}
  <nav class="
    {% include "_side_block_classes.html" %}
    overflow-hidden bg-sky-600 text-sky-100 flex flex-col flex-nowrap p-4
  ">
    {% include "browse/search_form_quick.html" with htmlclass="grow" control_htmlclass="py-2 px-3" only %}
  </nav>

  {{ block.super }}
{% endblock %}

{% block footer %}{% endblock %}

{% block container_grid_classes %}
  md:thegrid-mini
{% endblock %}

{% block content_grid_classes %}
  {{ block.super }}
  !md:row-span-4
  bg-dark-100
  dark:bg-gray-800
  !block
  overflow-x-auto
  p-4
  text-sm
{% endblock %}

{% block content %}
  <h1 class="text-2xl mb-4">About BibXML service</h1>
  <div class="running-text">
    <section class="text-base">
      <p>
        BibXML service can be thought of as a bibliographic item database.
      <p>
        It provides bibliographic data search interface
        for people who work on IETF standards,
        as well as programmatic retrieval facilities
        for associated automated toolchains.
      <div class="admonition see-also" aria-label="See also">
        <ul>
          <li>
            <a href="{% url "api_index" %}">API reference</a>
          {% if repo_url %}
            <li>
              <a href="{{ repo_url }}">Source code of this service</a>
          {% endif %}
        </ul>
      </div>
    </section>
    <section>
      <header>
        <h2>Usage</h2>
      </header>
      <section>
        <header>
          <h3>Searching indexed data</h3>
        </header>
        <section>
          <header>
            <h4>Quick search</h4>
          </header>
          <p>
            Quick search field attempts to interpret given query
            as an exact identifier.
          <p>
            If that succeeds, the service redirects
            to located resource’s bibliographic details directly.
          <p>
            Otherwise, the service passes the query string
            to less exact search methods below,
            starting from identifier substring match
            and ending with web search,
            and redirects to search results page.
        </section>
        <section>
          <header>
            <h4>Search modes</h4>
          </header>
          <p>
            The service supports multiple ways of searching
            across indexed bibliographic data.
            Some of those (JSON substructure and JSON path match)
            require awareness of Relaton bibliographic data schema specifics,
            while others are less precise and require no such knowledge.
          <p>
            In many cases, the latter is enough.
          <p>
            See search help on landing page for more information
            on how different search modes behave.
        </section>
      </section>
      <section>
        <header>
          <h3>Querying external sources</h3>
        </header>
        <p>
          It’s also possible to look up a document by its DOI
          using Crossref.
        <p>
          Found bibliographic data, if any, is displayed the same way
          indexed bibliographic items are shown, and can also be exported in BibXML.
        <div class="admonition note" aria-label="Note">
          <p>
            Data available from Crossref API tends to be less complete
            than authoritative data in indexed Relaton sources,
            so if you have a DOI to look up it may be worth
            using main search functionality first in case that resource is indexed.
        </div>
      </section>
    </section>
    <section>
      <header>
        <h2>Bibliographic data</h2>
      </header>
      <p>
        Bibliographic data is sourced in Relaton format.
        Relaton data model attempts to bridge the gap between
        bibliographic data representations and identifiers
        used across organizations.
      <p>
        Field labels below correspond to field names in Relaton data model.

      <section>
        <header>
          <h3>Displayed bibliographic item details</h3>
        </header>

        <figure class="annotated">
          <div class="image-container">
            <img
              src="{% static "img/about/bibitem-details.png" %}"
              alt="Screenshot of bibliographic item details layout"
              data-in-page-annotations='[
                {"id": "source-info", "cssSelector": "[data-annotates=source-info]", "frag": "xywh=pixel:928.396240234375,421.4066467285156,905.3658447265625,79.01376342773438"},
                {"id": "export-links", "cssSelector": "[data-annotates=export-links]", "frag": "xywh=pixel:928.396240234375,335.80841064453125,905.3658447265625,75.72152709960938"},
                {"id": "doctype", "cssSelector": "[data-annotates=doctype]", "frag": "xywh=pixel:11.211050033569336,11.233012199401855,232.1489200592041,67.39807605743408"},
                {"id": "smart-title", "cssSelector": "[data-annotates=smart-title]", "frag": "xywh=pixel:7.466712474822998,67.3980712890625,1231.887047290802,179.7281951904297"},
                {"id": "docid", "cssSelector": "[data-annotates=docid]", "frag": "xywh=pixel:14.615692138671875,332.9395446777344,904.19384765625,151.1488037109375"},
                {"id": "primary-docid", "cssSelector": "[data-annotates=primary-docid]", "frag": "xywh=pixel:27.784637451171875,349.40069580078125,538.4652404785156,45.66802978515625"},
                {"id": "titles", "cssSelector": "[data-annotates=title]", "frag": "xywh=pixel:16.445898056030273,500.42041015625,902.0736331939697,85.59820556640625"},
                {"id": "abstracts", "cssSelector": "[data-annotates=abstracts]", "frag": "xywh=pixel:19.73813819885254,599.1875610351562,1814.023946762085,161.31976318359375"},
                {"id": "dates", "cssSelector": "[data-annotates=dates]", "frag": "xywh=pixel:941.565185546875,776.968505859375,892.1968994140625,62.55255126953125"},
                {"id": "revdate", "cssSelector": "[data-annotates=revdate]", "frag": "xywh=pixel:23.030376434326172,859.2744750976562,911.9503364562988,65.84478759765625"},
                {"id": "fetched", "cssSelector": "[data-annotates=fetched]", "frag": "xywh=pixel:944.857421875,855.9822387695312,888.9046630859375,69.1370849609375"},
                {"id": "creators", "cssSelector": "[data-annotates=creators]", "frag": "xywh=pixel:23.030376434326172,944.8727416992188,911.9503364562988,62.55255126953125"},
                {"id": "relations", "cssSelector": "[data-annotates=relations]", "frag": "xywh=pixel:23.030376434326172,1023.886474609375,911.9503364562988,75.7215576171875"},
                {"id": "series", "cssSelector": "[data-annotates=series]", "frag": "xywh=pixel:944.857421875,1030.470947265625,885.6124267578125,72.4293212890625"},
                {"id": "links", "cssSelector": "[data-annotates=links]", "frag": "xywh=pixel:26.322616577148438,1116.0692138671875,1804.147232055664,69.136962890625"}
              ]'
            />
          </div>
          <figcaption>
            An overview of key fields shown on bibliographic item details page.
          </figcaption>
        </figure>

        <dl>

          <dt data-annotates="source-info">Source information</dt>
          <dd data-annotates="source-info">
            <p>
              Displays the Relaton source from which the item was obtained
              (either indexed or fetched on-demand).
              Provides source and data issue reporting links where possible.
          </dd>

          <dt data-annotates="export-links">Export links</dt>
          <dd data-annotates="export-links">
            <p>
              Allow to download bibliographic item in various formats,
              most importantly XML (BibXML, also known as xml2rfc).
            <div class="admonition note" aria-label="Note">
              <p>
                It may be required to authenticate with the service
                in order to use export links.
            </div>
          </dd>

          <dt data-annotates="doctype">Type (<code>type</code> or <code>doctype</code> field)</dt>
          <dd data-annotates="doctype">
            <p>
              Shows organization-specific <code>doctype</code>
              (e.g., “internet-draft”, “rfc”)
              or, if not available,
              basic <code>type</code> (e.g., “standard”).
          </dd>

          <dt data-annotates="smart-title">Inferred title</dt>
          <dd data-annotates="smart-title">
            <p>
              Main title. For a resource that
              doesn’t have titles of its own,
              which may happen for e.g. a document series,
              an attempt to “make up” a descriptive string
              based on primary identifiers
              and titles of resources included via relations is made.
              Barring that, a machine-readable identifier
              or a <code>formattedref</code> is used.
          </dd>

          <dt data-annotates="docid">
            Identifiers (<code>docid</code> field)
          </dt>
          <dd>
            <p data-annotates="docid">
              Identify the resource.
            <p data-annotates="primary-docid">
              In particular, a <em>primary</em> identifier
              (shown in bold)
              is used when citing or referencing the resource.
            <p>
              For example:
            <ul>
              <li>
                <em>draft-ietf-ipsecme-rfc8229bis-04</em>
                identifies version 4 of the Internet Draft
                titled “TCP Encapsulation of IKE and IPsec Packets”,
              <li>
                <em>RFC 9225</em> identifies
                the “Software Defects Considered Harmful” RFC from April 1st 2022,
              <li>
                <em>IEEE P1547-9/D-5.3.2022-02</em>
                identifies a draft, version 5.3, revision of Feb. 2022,
                for document P1547 (part 9) of an IEEE standard.
            </ul>
            <div class="admonition note" aria-label="Note">
              <p>
                Across the industry,
                there is no universal schema to which all resource identifiers conform,
                and often there’re no such specifications even within individual SDOs.
                However:
              <ol>
                <li>
                  Some SDOs are in the process of formalizing their resource identifiers
                  with efforts such as NIST PubID.
                <li>
                  There is
                  <a href="https://github.com/metanorma?q=pubid-&type=all&language=&sort=">an ongoing effort</a>
                  to implement parsers for preexisting document identifier strings across various SDOs,
                  intended to assist defining relevant specifications.
                </li>
              </ol>
            </div>
            <p>
              Other, secondary identifiers
              include DOI, ISBN, in-series anchors etc.
              They are not generally used when, e.g., referencing a document from another document,
              but they are still listed and can be searched by.
          </dd>

          <dt data-annotates="titles">Titles (<code>title</code> field)</dt>
          <dd data-annotates="titles">
            <p>
              A resource can have more than one title,
              and each title can have associated type
              which if provided is used as part of field label.
            </p>
          </dd>

          <dt data-annotates="abstracts">Abstracts (<code>abstract</code> field)</dt>
          <dd data-annotates="abstracts">
            <p>
              Abstract is a field that is often found describing a document.
              There can be zero or more abstracts, typically using different languages/scripts.
            </p>
          </dd>

          <dt data-annotates="dates">Lifecycle dates (<code>date</code> field)</dt>
          <dd data-annotates="dates">
            <p>
              A list of dates corresponding to events in resource lifecycle.
              There can be zero or more dates, usually at least one,
              each date specifying what it is (creation, approval, publication and so on).
            </p>
          </dd>

          <dt data-annotates="revdate">Latest revision date (<code>revdate</code> field)</dt>
          <dd data-annotates="revdate">
            <p>
              Date of when resource was last updated.
              Typically also found under “date”.
            </p>
          </dd>

          <dt data-annotates="fetched">Latest fetch date (<code>fetched</code> field)</dt>
          <dd data-annotates="fetched">
            <p>
              The date on which resource description was last fetched
              from authoritative sources.
            </p>
          </dd>

          <dt data-annotates="creators">Authors, editors, publishers (<code>contributor</code> field)</dt>
          <dd data-annotates="creators">
            <p>
              A list of people and/or organizations that participated in the creation of the document.
              Each entity is linked to search that matches corresponding substructure
              across bibliographic items’ Relaton representations
              (note that results may not be exhaustive due to possible variations
              in JSON structures representing the same contributor entity on different resources).
            </p>
          </dd>

          <dt data-annotates="relations">Relations (<code>relation</code> field)</dt>
          <dd data-annotates="relations">
            <p>
              Related resources, with relation type. Can list superseding, superseded,
              including (for series) or merely related documents and other resources.
            </p>
          </dd>

          <dt data-annotates="series">Series (<code>series</code> field)</dt>
          <dd data-annotates="series">
            <p>
              For a resource (typically a document) that is part of a series,
              all series are listed here (alongside resource identifier within that series).
            </p>
          </dd>

          <dt data-annotates="links">External links (<code>link</code> field)</dt>
          <dd data-annotates="links">
            <p>
              Links to resource representations elsewhere.
              Could be, for example, a PDF (or another file) hosted by publishing organization.
            </p>
          </dd>

        </dl>
      </section>
    </section>
  </div>
{% endblock %}
