{% load static compress %}
<!DOCTYPE html>
<html lang="en" class="{% block root_html_class %}{% endblock %}" {% block root_html_attrs %}{% endblock %}>
  <head>
    <title>{% block title %}{{ service_name }}{% endblock %}</title>

    <meta charset="utf-8"/>
    <meta name="viewport"
        content="width=device-width,
        initial-scale=1">

    {% compress css %}
      <link type="text/css" rel="stylesheet" href="{% static "css/main.css" %}" />
    {% endcompress %}

    {% block extra_head %}{% endblock %}
  </head>

  <body class="font-sans
      bg-dark-300
      !bg-gradient-to-bl from-dark-100 to-dark-400
      text-dark-600
      dark:bg-dark-600
      dark:from-dark-500 dark:to-dark-700
      dark:text-dark-300
    ">

    {% block before_container %}{% endblock %}

    <div class="
      md:h-screen md:overflow-hidden
      md:grid
      md:grid-flow-col
      md:grid-cols-8
      lg:grid-cols-[repeat(15,minmax(0,1fr))]
      xl:container xl:mx-auto xl:place-content-center

      md:thegrid-default-rows
      {% block container_grid_classes %}
      {% endblock %}
    ">

      <header class="
        {% include "_side_block_classes.html" %}
        p-4
        flex flex-col justify-start
        bg-dark-700
        text-dark-100
        dark:text-inherit
      ">
        <h1 class="font-semibold tracking-tight leading-tight mb-1">
          <a href="{% block home_link %}{% url "browse" %}{% endblock %}">
            {{ service_name }}
          </a>
        </h1>
        <div class="text-xs whitespace-nowrap">
          v{{ snapshot }}
        </div>
        <nav class="flex flex-row items-center">
          {% block nav %}
          {% endblock %}
        </nav>
      </header>

      {% block header_extras %}
      {% endblock %}

      <main class="
        md:row-start-1
        md:row-[span_8_/_span_8]

        md:col-span-6
        lg:col-[span_12_/_span_12]
        xl:col-[span_12_/_span_12]

        overflow-y-auto
        overflow-x-visible

        md:place-content-start
        md:grid
        md:grid-flow-row

        {% block content_grid_classes %}
          md:min-h-screen

          {# Single column #}
          md:grid-cols-[100%]
        {% endblock %}

        md:thegrid-default-rows

        snap-y
      ">

        {% block content %}
          {% include "_messages.html" %}
        {% endblock %}

      </main>

      {% block after_content %}
      {% endblock %}

    </div>

    {% block extra_scripts %}{% endblock %}

  </body>

</html>
