{% load static compress %}
<!DOCTYPE html>
<html
  lang="en"
  class="{% block root_html_class %}{% endblock %}"
  {% if matomo.url %}
    data-matomo-url="{{ matomo.url }}"
    {% if matomo.site_id %}
      data-matomo-site-id="{{ matomo.site_id }}"
    {% endif %}
    {% if matomo.tm_container %}
      data-matomo-tag-manager-container="{{ matomo.tm_container }}"
    {% endif %}
  {% endif %}
  {% block root_html_attrs %}{% endblock %}
>
  <head>
    <title>{% block title %}{{ service_name }}{% endblock %}</title>

    <meta charset="utf-8"/>
    <meta name="viewport"
        content="width=device-width,
        initial-scale=1">

    {% compress css %}
      <link type="text/css" rel="stylesheet" href="{% static "css/main.css" %}" />
    {% endcompress %}

    {% block extra_head %}{% endblock %}
  </head>

  <body class="
      font-sans
      bg-dark-300
      !bg-gradient-to-bl from-dark-200 to-dark-400
      text-dark-600
      dark:bg-dark-600
      dark:from-dark-500 dark:to-dark-700
      dark:text-dark-300
    ">

    {% block before_container %}{% endblock %}

    <div class="
      md:h-screen
      md:overflow-clip
      md:grid
      md:grid-flow-col
      md:grid-cols-8
      lg:grid-cols-[repeat(15,minmax(0,1fr))]
      xl:container xl:mx-auto

      md:thegrid-default-rows
      {% block container_grid_classes %}
      {% endblock %}
    ">

      <header class="
        {% include "_side_block_classes.html" %}
        p-4
        flex flex-col justify-start
        bg-dark-700
        text-dark-100
        dark:text-inherit
      ">
        <h1 class="font-semibold tracking-tight leading-tight mb-1">
          <a href="{% block home_link %}{% url "browse" %}{% endblock %}">
            {{ service_name }}
          </a>
        </h1>
        <div class="text-xs whitespace-nowrap">
          {% block after_site_header_content %}
            {% include "_datatracker_user_link.html" %}
          {% endblock %}
        </div>
      </header>

      {% block header_extras %}
      {% endblock %}

      <main class="
        md:row-start-1
        md:row-[span_8_/_span_8]

        md:col-span-6
        lg:col-[span_12_/_span_12]
        xl:col-[span_12_/_span_12]

        overflow-y-auto
        overflow-x-visible

        md:place-content-start
        md:grid
        md:grid-flow-row

        {% block content_grid_classes %}
          md:h-screen

          {# Single column #}
          md:grid-cols-[100%]
        {% endblock %}

        md:thegrid-default-rows

        snap-y
      ">

        {% block content %}
          {% include "_messages.html" with htmlclass="rounded-t-none" wrapper_htmlclass="pt-0 pb-2 bg-dark-700" %}
        {% endblock %}

      </main>

      {% block after_content %}
      {% endblock %}

    </div>

    {% compress js %}
      <script type="text/javascript" src="{% static "js/matomo.js" %}"></script>
    {% endcompress %}

    {% block extra_scripts %}{% endblock %}

    {% block footer %}
      <footer class="
        py-3 px-4
        md:bottom-0 md:left-0 md:absolute
        text-xs
        tracking-tight
        leading-tight
      ">
        {% block footer_content %}
          {% include "_about_links.html" %}
        {% endblock %}
      </footer>
    {% endblock %}

  </body>

</html>
