openapi: 3.1.0

info:
  title: IETF BibXML service
  description: |
    IETF BibXML service provides an open and public API for its users to fetch references from.

    NOTE: Not all 500 responses are currently provided per the spec
    (wrapped in JSON and with immutable error codes).
  contact:
    email: ietf-ribose@ribose.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 0.0.1

servers:
- url: /api/v1

paths:

  /ref/{dataset}/{ref_id}/:
    parameters:
    - name: dataset
      in: path
      description: Dataset ID.
      required: true
      schema:
        $ref: '#/components/schemas/AvailableDatasets'
    - name: ref_id
      in: path
      description: Standard reference. Special characters, such as forward slashes, must be URL-escaped.
      required: true
      schema:
        type: string

    get:
      parameters:
      - name: format
        in: query
        description: |
          Format to return citation in.
          If `bibxml` is requested, returns an application/xml response;
          otherwise application/json response with Relaton structure under `data` key.
        schema:
          type: string
          default: relaton
          enum: [bibxml, relaton]
      summary: Get citation
      description: >
        Retrieve citation from given dataset by reference.
        For external datasets (currently, `doi`), this incurs an additional network request.
      operationId: getCitationByReferenceId

      responses:
        200:
          description: successful operation
          content:
            application/xml:
              schema:
                type: string
                description: BibXML-formatted citation
            application/json:
              schema:
                $ref: '#/components/schemas/CitationDetailsResponse'

        404:
          description: reference not found in given dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        500:
          description: operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /search/{query}/:
    parameters:
    - name: query
      in: path
      schema:
        type: string
        example: |
          %2Bnist+%22metropolitan+area%22+-%22wind+damage%22
      description: |
        Search query string. Format depends on `query_format` parameter.
        Special characters, such as forward slashes, must be URL-escaped.
    get:
      summary: Search citations
      description: |
        Find citations across indexed (non-external) datasets that match given query.

        NOTE: as of now, this API may not return the latest and complete results at all times,
        as various source indexes could be cleared and/or be mid-indexation.
      parameters:
      - name: query_format
        in: query
        schema:
          type: string
          enum: [json_repr, json_struct]
          default: json_repr
        description: |
          How to match the query.
          - If `json_repr`, query string is matched against raw JSON-serialized representation
            of citation’s Relaton data. Some typical Web search operators are supported
            (AND, OR, +, -, quotes).
          - if `json_struct`, query string must be a valid JSON-serialized structure.
            Citations which Relaton data contains that structure will match.
      - name: page
        in: query
        schema:
          type: integer
        description: Page number, for cases with many matches.
      operationId: searchCitations

      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CitationSearchResultResponse'

        500:
          description: operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /management/datasets/{dataset}/get-index-status/:
    parameters:
    - name: dataset
      in: path
      description: Dataset ID
      required: true
      schema:
        $ref: '#/components/schemas/IndexableDatasets'
    get:
      summary: Get dataset status
      description: |
        Returns a list of recent indexing tasks for given dataset, starting from most recently started task.
      operationId: getDatasetTaskStatus
      responses:
        200:
          description: successful operation, shows index current status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexerStatus'

  /management/datasets/{dataset}/reindex/:
    parameters:
    - name: dataset
      in: path
      description: Dataset ID
      required: true
      schema:
        $ref: '#/components/schemas/IndexableDatasets'
    post:
      summary: (Re)index dataset
      description: |
        Indexing dataset sources is required to enable searching across citation metadata.
        Currently, indexing is done manually.
        A call to this endpoint reindexes either the entire dataset or specified refs
        from dataset source(s).
      operationId: indexDataset
      consumes:
      - application/x-www-form-urlencoded
      requestBody:
        description: Indexation options.
        content:
          'application/x-www-form-urlencoded':
            schema:
              type: object
              properties:
                refs:
                  description: Comma-separated list of refs to index (if not provided, the entire dataset is reindexed)
                  type: array
                  items:
                    type: string
            encoding:
              refs:
                style: form
                explode: false
      security:
      - APIKeyAuth: []
      responses:
        200:
          description: Indexing task had been queued (does not mean indexing completed without errors)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        500:
          description: Queueing failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /management/datasets/{dataset}/reset-index/:
    parameters:
    - name: dataset
      in: path
      description: Dataset ID
      required: true
      schema:
        $ref: '#/components/schemas/IndexableDatasets'
    post:
      summary: Clear dataset index
      description: Clears indexed data for given dataset; notably, does not abort any indexing tasks queued or progressing.
      operationId: resetDatasetIndex
      security:
      - APIKeyAuth: []
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        500:
          description: operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /management/tasks/{task_id}/stop/:
    parameters:
    - name: task_id
      in: path
      description: Task ID. Can be obtained from dataset status endpoint.
      required: true
      schema:
        $ref: '#/components/schemas/IndexableDatasets'
    post:
      summary: Stop task 
      description: Revokes given task, and attempts to terminate if running.
      operationId: stopTask
      security:
      - APIKeyAuth: []
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        500:
          description: operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /management/tasks/stop-all/:
    post:
      summary: Revoke all tasks
      description: Revokes any pending tasks. Tries to terminate already running ones, but no guarantees.
      operationId: stopAllTasks
      security:
      - APIKeyAuth: []
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        500:
          description: operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'


components:

  schemas:

    AvailableDatasets:
      type: string
      enum:
      {% for ds_id in known_dataset_ids %}
      - {{ ds_id }}
      {% endfor %}
      description: |
        Available legacy dataset IDs. This list is generated at runtime.

    CitationDetailsResponse:
      type: object
      properties:
        data:
          type: object
          $ref: '#/components/schemas/CitationObject'

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: Code for automatic error processing
            message:
              type: string
              description: Human readable error message

    CitationSearchResultResponse:
      type: object
      properties:
        meta:
          type: object
          required:
            - total
          properties:
            total:
              type: integer
              description: Total number of citations found for this query.
            next:
              type: string
              description: Domain-relative URL to next batch of search results, if any.
            prev:
              type: string
              description: Domain-relative URL to previous batch of search results, if any.
        data:
          type: array
          items:
            $ref: '#/components/schemas/CitationObject'

    # TODO:
    # need to verify structure
    CitationObject:
      type: object
      description: Citation in Relaton format
      properties:
        id:
          type: string
        date:
          type: object
          properties:
            type:
              type: string
            value:
              type: string
          #required:
          #- type
          #- value
        link:
          type: object
          properties:
            type:
              type: string
            content:
              type: string
          #required:
          #- type
          #- content
        type:
          type: string
        docid:
          type: array
          items:
            type: object
        place:
          type: string
        title:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              format:
                type: string
              script:
                type: string
              content:
                type: string
              language:
                type: string
            #required:
            #- type
            #- format
            #- script
            #- content
            #- language
        script:
          type: string
        doctype:
          type: string
        revdate:
          type: string
        contributor:
          type: object
          properties:
            role:
              type: string
            organization:
              type: object
              properties:
                name:
                  type: string
                abbreviation:
                  type: string
              #required:
              #- name
              #- abbreviation
          #required:
          #- role
          #- organization
      required:
      - docid
      - doctype

    IndexableDatasets:
      type: string
      # TODO: Auto-generate this list at deployment time?
      enum:
      - rfcs
      - ids
      - rfcsubseries
      - misc
      - w3c
      - 3gpp
      - ieee
      - iana
      - doi
      - nist
      description: |
        For up-to-date list of available datasets,
        see bibxml-data-* repositories under ietf-ribose GitHub organization.
        See also bibxml-indexer service README.

    IndexerStatus:
      type: object
      description: Recent dataset indexing task history
      properties:
        tasks:
          description: A list of most recent indexing tasks for given dataset
          type: array
          items:
            type: object
            description: Describes indexing task
            required:
              - task_id
              - status
            properties:
              task_id:
                format: string
                description: Task ID; can be used to cancel this task using the tasks endpoint
              status:
                type: string
                description: Short status keyword (e.g., STARTED, PROGRESS, FAILED or similar; not strictly normalized)

              dataset_id:
                format: string
                description: Dataset ID
              requested_refs:
                type: array
                description: Refs that were requested for indexing
                items:
                  type: string

              started_at:
                type: string
                format: datetime

              action:
                type: string
                description: For a task in progress, human-readable summary of what’s currently happening
              progress:
                description: For a task in progress, completion progress
                type: object
                required:
                  - current
                properties:
                  total:
                    description: Total, e.g. number of source files found
                    type: integer
                  current:
                    description: Current item, e.g. number of indexed files so far
                    type: integer

              completed_at:
                type: string
                format: datetime
                description: For a successful task, completion timestamp
              outcome_summary:
                type: string
                description: For a successful task, human-readable description of the outcome

              error:
                type: object
                description: For a failed task, error details
                properties:
                  type:
                    type: string
                  message:
                    type: string

    SuccessMessage:
      type: object
      description: Generic success response
      properties:
        message:
          type: string
          description: Human-readable success message

    ErrorMessage:
      type: object
      description: Generic error response
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: Code for automatic error processing
            message:
              type: string
              description: Human-readable error message

  securitySchemes:
    APIKeyAuth:
      type: apiKey
      in: header
      name: X-IETF-Token
