{% extends "browse/base.html" %}

{% load relaton %}

{% block title %}{{ block.super }} — {{ ref }}{% endblock %}


{% block content %}
  <header class="">
    {% include "relaton/doc_ids.html" with ids=data.docid|as_list ref=ref %}
    <h2 class="fw3 f3 measure-wide">
      {% include "relaton/first_title.html" with title=data.title %}
    </h2>
  </header>

  <div class="cf">
    <div class="fl w-100 w-50-ns">
      <dl class="lh-title pv2 mt0">
        {% include "deflist/entry.html" with key="edition" val=data.edition|default:"—" %}
        {% if data.date %}
          {% for date in data.date|as_list %}
            {% include "deflist/entry.html" with key=date.type val=date.value %}
          {% endfor %}
        {% endif %}
        {% include "deflist/entry.html" with key="revdate" val=data.revdate|default:"—" %}
        {% include "deflist/entry.html" with key="fetched" val=data.fetched|default:"—" %}
        {% for c in data.contributor|as_list %}
          {% with c.organization as org and c.person.name.surname.content as surname and c.person.name.forename.content as forename and c.person.name.completename.content as fullname %}
            {% if surname or forename %}  
              {% with forename|add:" "|add:surname as name %}
                {% include "deflist/entry.html" with key=c.role val=name %}
              {% endwith %}
            {% elif fullname %}
              {% include "deflist/entry.html" with key=c.role val=fullname %}
            {% else %}
              {% include "deflist/entry_recursivedict.html" with key=c.role val=org %}
            {% endif %}
          {% endwith %}
        {% endfor %}
        {% include "deflist/entry.html" with key="place" val=data.place|default:"—" %}
      </dl>
    </div>

    <div class="fl w-100 w-50-ns">
      <dl class="lh-title pv2 mt0">
        {% for relation in data.relation|as_list %}
          {% include "deflist/entry.html" with key=relation.description.content|default:relation.type|default:"relates to" val=relation.bibitem.formattedref.content tmpl="citation/docid_link.html" %}
        {% endfor %}
        {% include "deflist/entry.html" with key="type" val=data.type %}
        {% include "deflist/entry.html" with key="language" val=data.language|default:"—" %}
        {% include "deflist/entry.html" with key=data.link.type|default:"link" val=data.link.content %}
        {% for title in data.title|as_list %}
          {% include "deflist/entry.html" with key=title.type|stringformat:"s (title)" val=title.content %}
        {% endfor %}
        {% include "deflist/entry.html" with key="abstract" val=data.abstract|default:"—" %}
      </dl>
    </div>
  </div>

  {% include "citation/download_links.html" with dataset_id=dataset_id ref=ref %}

  <p class="gray f7">
    Available using API: {% url "api_get_ref" dataset_id ref %}
  </p>

  <dl class="lh-title pv2 mt2">
    {% if data.keyword %}
      {% include "deflist/entry_list.html" with key="keywords" items=data.keyword|as_list %}
    {% endif %}
  </dl>
{% endblock %}
