{% extends "browse/base.html" %}

{% block title %}{{ block.super }} Citations{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

  <form class="black-80 mb3" method="GET" action="{% url "get_citation_by_docid" %}">
    {% include "browse/search_by_docid_form.html" with highlight=1 %}
    {% comment %}
    <div class="f6 black-60 db mb4 measure lh-copy">
      {% if doctypes %}
        <p>Example identifiers:
        <ul class="list pa0">
          {% for doctype in doctypes %}
            <li class="nowrap">
              <code class="nowrap pa1 ph2 bg-light-gray black-80">{{ doctype.1 }}</code>
              for document type “{{ doctype.0 }}”
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% endcomment %}
  </form>

  <div class="nowrap overflow-x-auto">
    <h2 class="f5 dib mr3 ">Indexed sources</h2>
    {% for ds_id in browsable_datasets %}
      <a class="
            link
            {% if dataset_id == ds_id %}underline{% endif %}
            dim
            {% if ds_id in authoritative_datasets %}black-80 fw5{% else %}gray{% endif %}
            f5 f4-ns dib mr3
          " href="{% url "browse_dataset" ds_id %}">
        {{ ds_id }}
      </a>
    {% endfor %}
  </div>

  <div class="nowrap overflow-x-auto">
    <h2 class="f5 dib mr3 ">External source lookup</h2>
    {% for ds_id in external_datasets %}
      <a class="
            link
            {% if dataset_id == ds_id %}underline{% endif %}
            dim
            {% if ds_id in authoritative_datasets %}black-80 fw5{% else %}gray{% endif %}
            f5 f4-ns dib mr3
          " href="{% url "browse_external_dataset" ds_id %}">
        {{ ds_id }}
      </a>
    {% endfor %}
  </div>

  <h2 class="f5">See also</h2>
  <ul class="list pl0 mb5">
    <li>
      <a href="{% url "api_index" %}" target="_blank" class="link">
        API reference &rarr;
      </a>
    <li>
      <a href="{% url "openapi_readable_spec" "openapi_spec_legacy" %}" target="_blank" class="link">
        Compatibility API reference &rarr;
      </a>
  </ul>
{% endblock %}
