{% extends "browse/base.html" %}

{% block nav %}{% endblock %}

{% block container_grid_classes %}
  xl:thegrid-mini
  xl:place-content-center
{% endblock %}

{% block content_grid_classes %}
  xl:thegrid-mini
  md:grid-cols-6
  lg:grid-cols-10
  xl:grid-cols-12
{% endblock %}

{% block header_extras %}
  <a
    class="
      {% include "_side_block_classes.html" %}
      block p-4 bg-lime-600 text-lime-100 tracking-tight text-lg
      leading-tight
    "
    href="{% url "api_index" %}" target="_blank"
  >
    API&nbsp;reference&nbsp;&rarr;
  </a>

  <a
    class="
      {% include "_side_block_classes.html" %}
      block p-4 bg-lime-600/70 text-lime-100 dark:text-dark-700 tracking-tight text-lg
      leading-tight
    "
    href="{% url "openapi_readable_spec" "openapi_spec_legacy" %}" target="_blank"
  >
    Compatibility
    API&nbsp;reference&nbsp;&rarr;
  </a>
  
  {{ block.super }}
{% endblock %}


{% block content %}
  <div
    class="
      lg:col-span-10 lg:row-span-3
      md:col-span-6 md:row-span-3
      p-4
      bg-sky-600 text-sky-100
      flex flex-col flex-nowrap
    "
    method="GET"
    action="{% url "get_bibliographic_item" %}"
  >
    {% include "browse/search_forms.html" with expanded=1 query=request.GET.query query_format=request.GET.query_format|default:"websearch" %}
  </div>

  <div class="md:col-span-3 overflow-hidden flex flex-col flex-nowrap p-4 justify-start ">
    <form
      class="
        w-full flex
        flex-row flex-nowrap
      "
      method="GET"
      action="{% url "get_external_citation" "doi" %}"
    >
      <input
        name="ref"
        type="text"
        placeholder="DOI lookup via Crossref"
        class="min-w-0 grow text-inherit bg-dark-800/20 placeholder:tracking-tight placeholder:text-inherit"
      />
      <button type="submit" class="button">
        {% include "_search_icon.html" only %}
      </button>
    </form>
  </div>

  <div class="p-4 md:col-span-2 text-xs leading-tight">
    {% if browsable_datasets %}
      {{ total_indexed_human }}&nbsp;indexed
      among&nbsp;sources:
      {% for ds_id in browsable_datasets %}
        <a class="{% if dataset_id == ds_id %}font-bold{% endif %}" href="{% url "browse_dataset" ds_id %}">
          {{ ds_id }}{% if not forloop.last %}, {% endif %}
        </a>
      {% endfor %}
    {% else %}
      <p>There are no indexed sources at this time.</p>
    {% endif %}
  </div>
{% endblock %}

{% block before_container %}
  {% include "_messages.html" with wrapper_htmlclass="bg-dark-700 xl:bg-transparent" %}
{% endblock %}
