{% extends "browse/base.html" %}
{# A details template for an indexed bibliographic item, as a raw table. #}

{% load common %}

{% block content_grid_classes %}
  md:h-screen

  md:grid-cols-2
  md:auto-rows-[minmax(max(2.5rem,6.25vh),1fr)]
  md:grid-rows-[repeat(auto-fill,minmax(max(2.5rem,6.25vh),1fr))]

  bg-dark-200
  dark:bg-dark-800

  bibitem-full
{% endblock %}

{% block header_extras %}
  <nav class="
    {% include "_side_block_classes.html" %}
    bg-sky-600 text-sky-100
    overflow-hidden flex flex-col flex-nowrap p-4
  ">
    {% include "browse/search_form_quick.html" with htmlclass="grow" control_htmlclass="py-2 px-3" placeholder="New search…" only %}
  </nav>
{% endblock %}

{% block content %}
  <header class="p-4 sm:col-span-2 sm:row-span-2 leading-tight">
    <span class="font-light">Viewing source data:</span>
    {% include "citation/bibitem_source.html" with sourced_item=data indexed=1 links="external" only %}
  </header>

  <div class="sm:row-span-3 px-2 mb-2 flex flex-col md:flex-row md:items-start">
    {% if data.bibitem.docid %}
      {% with docid=data.bibitem.docid|as_list|first %}
        <a
          href="{% url "get_citation_by_docid" %}?doctype={{ docid.type }}&docid={{ docid.id|urlencode:"" }}"
          class="button-v2 !text-sky-100"
        >
          <span class="label !bg-sky-600 !text-inherit">Locate bibliographic&nbsp;item</span>
          <span class="icon !bg-sky-600 !text-inherit">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10 21h7a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v11m0 5l4.879-4.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242z" />
            </svg>
          </span>
        </a>
      {% endwith %}
    {% endif %}
  </div>

  <nav class="px-2 mb-4 sm:row-span-3 text-sm flex flex-col gap-y-px">
    <a class="link button-v2" href="{% url "browse_dataset" data.source.id|cut:"relaton-data-" %}">
      <span class="label">Entire index of {{ data.source.id }}</span>
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z" />
        </svg>
      </span>
    </a>
    {% if data.indexed_object.external_url %}
      <a class="link button-v2" href="{{ data.indexed_object.external_url }}">
        <span class="label">
          HEAD revision of this item at the source
        </span>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
          </svg>
        </span>
      </a>
    {% endif %}
    {% if data.source.home_url %}
      <a class="link button-v2" href="{{ data.source.home_url }}">
        <span class="label">Source home page</span>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
        </span>
      </a>
    {% endif %}
    {% if data.source.issues_url %}
      <a class="link button-v2" href="{{ data.source.issues_url }}?labels=bug&title=Problem+with+`{{ data.indexed_object.name|urlencode }}`:+">
        <span class="label">File an issue about this data</span>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z" clip-rule="evenodd" />
          </svg>
        </span>
      </a>
    {% endif %}
  </nav>

  {% if data.validation_errors %}
    <div class="px-4 mb-4 row-span-4 text-sm">
      <p class="font-semibold">There are validation errors:</p>
      <p class="whitespace-pre-line font-light overflow-y-scroll">{% include "citation/validation_errors.html" with validation_errors=data.validation_errors in_page_links=1 %}</p>
    </div>
  {% endif %}

  <div class="
    col-span-2
    row-[span_6_/_span_6]
    overflow-visible
    z-20

    flex
    flex-col
    relative
  ">
    <div class="flex-grow relative">
      {% include "citation/sourced_bibitem_raw_table.html" with bibitem=data.bibitem sourced_item=data show_docid_as_link=1 only %}
    </div>
  </div>
{% endblock %}
