{% if page_obj.has_previous %}
  <a class="link" href="?{% if query %}query={{ query }}&{% endif %}page=1">&laquo; first</a>
  <a class="link ph3" href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">previous</a>
{% endif %}

<span class="flex-auto tr">
  <span class="nowrap">
    page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  </span>
  <span class="nowrap f7">
    &ensp;
    {% if result_cap and page_obj.paginator.count == result_cap %}
      limited to {{ result_cap }} results
    {% else %}
      found {{ page_obj.paginator.count }} total
    {% endif %}
  </span>
</span>

{% if page_obj.has_next %}
  <a class="link ph3" href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.next_page_number }}">next</a>
  <a class="link" href="?{% if query %}query={{ query }}&{% endif %}page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
{% endif %}
