{% extends "browse/base.html" %}

{% block title %}{{ block.super }} — Search: {{ query }}{% endblock %}

{% block header_extras %}
  <h2
    class="
      {% include "_side_block_classes.html" %}
      md:row-span-2
      leading-tight
      flex flex-col bg-sky-600 text-sky-100
    "
  >
    <div class="p-4">
      Results
      <span class="whitespace-nowrap">for {{ query_format_label|default:"N/A" }}</span>
    </div>
    <pre class="
      p-2 m-2 bg-sky-700 grow text-sm font-bold whitespace-pre-wrap overflow-y-auto
      {% if query|length > 30 %}
        !text-xs
      {% endif %}
    ">{{ query|default:"N/A" }}</pre>
  </h2>

  <nav class="
    {% include "_side_block_classes.html" %}
    overflow-hidden bg-sky-700 text-sky-100 flex flex-col flex-nowrap
  ">
    {% include "browse/paginator.html" with query=request.GET.query|urlencode page_obj=page_obj result_cap=result_cap %}
  </nav>

  {{ block.super }}
{% endblock %}

{% block content %}
  {{ block.super }}

  {% for citation in object_list %}
    {% include "citation/in_list.html" with data=citation %}
  {% empty %}
    <p class="lg:col-span-8 md:col-span-2 p-4">No items to show.</p>
  {% endfor %}
{% endblock %}

{% block after_content %}
  {% include "_profiling_block.html" %}
{% endblock %}
