{# Accepts query, query_format, expanded #}

{% if query %}
  {% include "browse/search_form_quick.html" with htmlclass="mb-2" tabindex="0" detailed="1" %}
{% else %}
  {% include "browse/search_form_quick.html" with htmlclass="mb-2" tabindex="0" detailed="1" autofocus="1" %}
{% endif %}

<div class="relative grow relative min-h-[10rem]">
  <details>
    <summary class="mb-1 cursor-pointer">Search help</summary>
    <div class="
      absolute inset-0 top-8 bg-sky-700 z-20 p-2 pl-3 md:pr-6 text-sm
      overflow-y-auto
    ">
      <p class="mb-2">
        Quick search will redirect to an item with a document ID as provided, if possible;
        otherwise, search methods will be tried.
      <ul>
        <li><strong>docid substring</strong> (docid_regex in API): bibliographic items that include given substring
            within any document identifier will match. Example:
            <pre class="text-xs py-2 overflow-x-auto">31.111:Rel-6</pre>
        <li><strong>websearch</strong> query will be applied across values of all bibliographic item fields;
            some search operators are supported:
            <pre class="text-xs py-2 overflow-x-auto">+nist "metropolitan area" -"wind damage"</pre>
        <li><strong>JSON path</strong> (json_path in API)
            query will be applied such that <code>$</code> is bibliographic item root:
            <pre class="text-xs py-2 overflow-x-auto">$.series != null && $.docid[*].type != "W3C" && $.series[*].title.content != "NIST"</pre>
        <li><strong>JSON containment</strong> (json_struct in API)
            query must be a valid JSON structure,
            and items containing this structure will match:
            <pre class="text-xs py-2 overflow-x-auto">{"series": [{"title": {"content": "RFC"}}]}</pre>
      </ul>
    </div>
  </details>

  <form
    method="GET"
    action="{% url "search_citations" %}"
    class="
      flex flex-col flex-nowrap
      absolute inset-0 top-8
    "
  >
    <input type="hidden" value="1" name="bypass_cache" />
    <textarea
      name="query"
      type="text"
      placeholder="Advanced search query…"
      {% if query %}autofocus{% endif %}
      class="
        grow
        w-full
        font-mono
        text-sm
        input-on-blue
      "
    >{% if query %}{{ query }}{% endif %}</textarea>
    <ul
      class="
        flex leading-tighten text-sm
        py-4
        items-center
        flex-row flex-nowrap space-x-4
        overflow-y-hidden
        overflow-x-auto
      "
    >
      {% for format, label in supported_search_formats %}
        <li class="whitespace-nowrap">
          <input
            type="radio"
            id="search_query_format_{{ format }}"
            name="query_format"
            {% if query_format == format %}checked{% endif %}
            value="{{ format }}"
            class="place-self-end text-sky-700"
          />
          <label for="search_query_format_{{ format }}">
            {{ label }}
          </label>
      {% endfor %}
    </ul>

    <input
      type="submit"
      value="Advanced search"
      class="button"
    />
  </form>
</div>
