{# Accepts optional detailed, htmlclass, control_htmlclass, tabindex, autofocus, placeholder #}

<form
  class="
    w-full flex
    flex-row flex-nowrap
    {{ htmlclass }}
  "
  id="quickSearchForm"
  method="GET"
  action="{% url "get_bibliographic_item" %}"
>
  <input
    {% if tabindex %}tabindex="{{ tabindex }}"{% endif %}
    {% if autofocus %}autofocus{% endif %}
    id="quickSearchQuery"
    name="query"
    type="text"
    placeholder="{% if placeholder %}{{ placeholder }}{% else %}{% if detailed %}Document ID or anything…{% else %}Quick search…{% endif %}{% endif %}"
    class="min-w-0 grow input-on-blue {{ control_htmlclass }}"
    required
  />
  <button type="submit" class="{% if detailed %}hidden md:!block{% else %}hidden{% endif %} button {{ control_htmlclass }}">
    Quick search
  </button>
  <button type="submit" class="{% if detailed %}md:!hidden{% endif %} button {{ control_htmlclass }}" title="Quick auto search">
    {% include "_search_icon.html" only %}
  </button>
</form>
