{% extends "browse/base.html" %}

{% block title %}{{ block.super }} — Search: {{ query }}{% endblock %}

{% block content %}
  <h2 class="f4 dib br3">
    {% if request.GET.query_format == "json_struct" %}
      Search matching JSON structure
      <br />
    {% else %}
      Searching for
      &nbsp;
    {% endif %}
    {% if query %}
      <code class="f5 pa1 ph2 bg-light-gray">{{ query }}</code>
    {% else %}
      empty string (showing all)
    {% endif %}
  </h2>

  {% if object_list %}
    <nav class="flex items-center">
      {% include "browse/paginator.html" with query=request.GET.query|urlencode page_obj=page_obj %}
    </nav>
  {% else %}
    <p>There were no citations found matching the above query.</p>
  {% endif %}

  <ul class="list pl0">
    {% for citation in object_list %}
      <li class="pv2 cf bt {% if forloop.last %}bb{% endif %} b--light-gray">
        <article>
          {% include "citation/in_list.html" with data=citation %}
        </article>
    {% endfor %}
  </ul>
{% endblock %}
