<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}IETF BibXML service{% endblock %}</title>

    <meta charset="utf-8"/>
    <meta name="viewport"
        content="width=device-width,
        initial-scale=1">

    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
      }
      input {
        padding: 0;
        border: none;
      }
    </style>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
  </head>

  <body>
    <header class="">
      <nav class="ph3 ph5-ns pv3">
        <div class="nowrap overflow-x-auto">
          <h1 class="f5 f4-ns dib mr3">
            <a class="link dim" href="{% url "browse" %}">IETF BibXML service</a>
          </h1>
          {% for ds_id in known_datasets %}
            <a class="link {% if dataset_id == ds_id %}underline{% endif %} dim gray f5 f4-ns dib mr3" href="{% url "browse_dataset" ds_id %}">
              {{ ds_id }}
            </a>
          {% endfor %}
        </div>
      </nav>
      {% block header %}{% endblock %}
    </header>
    <main class="ph3 pb4 ph5-ns">
      {% block content %}{% endblock %}
    </main>
  </body>

</html>
