{% extends "base.html" %}

{% block title %}{{ block.super }} Citations{% endblock %}

{% block content %}
  <form class="black-80" method="GET" action="{% url "search_citations" %}">
    <div class="">
      <input
        id="query"
        name="query"
        type="text"
        placeholder="Search indexed citations"
        class="w-75 input-reset dib ba b--black-20 pa2 db"
        aria-describedby="query-desc" />
      <input type="submit"
          class="w-15 dim pa2 ph3 dib ba bg-dark-blue white"
          value="Search" />
      <div id="query-desc" class="f6 black-60 db mb2 measure lh-copy">
        <p>Some operators are supported.
           Example query: <code class="nowrap pa1 ph2 bg-light-gray black-80">+nist "metropolitan area" -"wind damage"</code>.
        <p>Note: currently match is performed against entire JSON representations of citations.
      </div>
    </div>
  </form>
  <div class="pv5">
    <h2 class="f5">See also</h2>
    <ul class="list pl0">
      <li>
        <a href="{% url "api_index" %}" target="_blank" class="link">
          API reference &rarr;
        </a>
    </ul>
  </div>
{% endblock %}
