{% extends "base.html" %}

{% block title %}{{ block.super }} — Search: {{ query }}{% endblock %}

{% block content %}
  <h2 class="f4 dib br3">
    Searching for
    {% if query %}
      &ensp;
      <code class="f5 pa1 ph2 bg-light-gray">{{ query }}</code>
    {% else %}
      empty string (showing all)
    {% endif %}
  </h2>

  <nav class="flex items-center">
    {% if page_obj.has_previous %}
      <a class="link" href="?page=1">&laquo; first</a>
      <a class="link ph3" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="flex-auto tr">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a class="link ph3" href="?page={{ page_obj.next_page_number }}">next</a>
      <a class="link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </nav>

  <ul class="list pl0">
    {% for citation in object_list %}
      <li class="pv2 cf bt b--light-gray">
        <article>
          {% include "citation_in_list.html" with data=citation.body dataset_id=citation.dataset ref=citation.ref %}
        </article>
    {% endfor %}
  </ul>
{% endblock %}
